body {
  background-color: #949494;
}

.nav {
  background-color: #dddddd;
  display: flex;
  width: 80%;
  margin: auto;
  margin-top: 1em;
  flex-direction: row;
  padding: 1em, 0em;
}

img.icon {
    width: 2em;
    border: 1ex;
    border-radius: 5q;
}
